<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
}
</style>
</head>
<body>
<div id="container"></div>
<script src="../lib/three/build/three.min.js"></script>
<script src="../lib/three/examples/js/controls/OrbitControls.js"></script>
<script id="vertexShader" type="x-shader/x-vertex">

</script>
<script id="fragmentShader" type="x-shader/x-fragment">

</script>
<script>
var container;
var camera, scene, renderer;
var uniforms;

init();
animate();

function init() {
  container = document.getElementById('container');
  camera = new THREE.PerspectiveCamera(
    75,
    window.innerWidth/window.innerHeight, 0.1, 1000
  );
  scene = new THREE.Scene();
  renderer = new THREE.WebGLRenderer();
  renderer.setSize(window.innerWidth, window.innerHeight);
  var orbit = new THREE.OrbitControls(camera, renderer.domElement);
  container.appendChild(renderer.domElement);
  window.addEventListener('resize', function() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();

    renderer.setSize( window.innerWidth, window.innerHeight);
  });
}

function animate() {
  requestAnimationFrame(animate);
  render();
}

function render() {
  renderer.render(scene, camera);
}

</script>


</body>
</html>
